@model List<Ability>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<table class="table table-hover">
    <tr>
        <th>#</th>
        <th> Yetenek</th>
        <th> Güncelle</th>

    </tr>

    @foreach (var item in Model)
    {
<tr>
    <th>@item.AbilityId</th>
    <th>@item.MyAbility</th>



    <td><a href="/AdminAbility/UpdateAbility/@item.AbilityId" class="btn btn-outline-warning"><b>Güncelle</b></a></td>



</tr>}

</table>
<br />
<a href="/AdminAbility/AddAbility" class="btn btn-outline-dark"> <b>Yetenek Ekle</b></a>
<br />



