@using EntityLayer.Concrete
@model List<Ability> 

@{
    Layout = null;
}

<table>
    <tr>
        <th>AbilityID</th>
        <th>My Ability</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.AbilityId</td>
            <td>@item.MyAbility</td>
        </tr>
    }
</table>